.title2 img {
  filter: brightness(44%) sepia(1) saturate(100%) hue-rotate(180deg);
  position: relative;
  top: -100px;
}

main p {
  margin: 20px;
  font-size: 22px;
  line-height: 1.2;
}

main {
  margin-bottom: 115px;
}

.me {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: auto;
  overflow: hidden;
}

.me img {
  width: 100%;
}

@media only screen and (min-width: 945px) {
  main {
    margin-bottom: 115px;
    display: flex;
  }

  .about-me-text {
    width: 60%;
  }

  .me-holder {
    width: 30%;
    padding: 7%;
  }
}
