.title4 img {
  filter: brightness(20%) sepia(1) saturate(1000%) hue-rotate(100deg);
  position: relative;
  top: -50px;
}

main p {
  margin: 20px;
  font-size: 22px;
  line-height: 1.2;
}

.me {
  float: right;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 15px;
  overflow: hidden;
}

.me img {
  width: 100%;
}
