.title4 img {
  filter: brightness(34%) sepia(1) saturate(100%) hue-rotate(180deg);
  position: relative;
  top: -50px;
}

main p {
  margin: 20px;
  font-size: 22px;
  line-height: 1.2;
}
h2 {
  font-size: 40px;
  font-weight: bolder;
}
h3 {
  font-size: 32px;
  font-weight: bold;
}
main ul {
  margin-left: 55px;
}
main ul li:before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url(../images/check-mark-icon-transparent-13.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -35px;
  margin-top: 6px;
  position: relative;
  top: 5px;
  right: 5px;
}
li {
  margin: 10px 0;
}
